<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.Ninject" version="3.3.1" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.0.0.6490" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.16.4" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.IoC.Ninject" version="2.0.5782" targetFramework="xamarinios10" />
</packages>